<section class="page-header animate-on-scroll">
  <div class="content">
    <h1>About Us</h1>
    <div class="breadcrumb">
      Home // About Us
    </div>
  </div>
</section>


<!-- /=================================SECTION 2========================================================= / -->



<section class="about-section animate-on-scroll">
    <div class="about-container">
        <div class="image-wrapper">
            <div class="bg-shape"></div>
            <img src="https://cdn.prod.website-files.com/6356157f39e4e52b89cf4553/63f5ef9a0b025ab077edbc99_about-image.png" alt="Baker">
        </div>

        <div class="text-content">
            <span class="label">ABOUT US</span>
            <h2>We provide 100% halal <br> bakery product.</h2>
            <p>Netus et malesuada fames ac turpis. Rhoncus urna neque viverra justo nec ultrices. Donec enim diam vulputate ut pharetra sit amet aliquam. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque. Bibendum enim facilisis gravida neque convallis a cras semper auctor. Congue eu consequat ac felis donec et odio. Cursus turpis massa tincidunt dui ut ornare lectus sit. Facilisi cras fermentum odio eu feugiat. Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Erat velit scelerisque in dictum. Sit amet est placerat in.<br><br>
              Netus et malesuada fames ac turpis. Rhoncus urna neque viverra justo nec ultrices. Donec enim diam vulputate ut pharetra sit amet aliquam. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque. Bibendum enim facilisis gravida neque convallis a cras semper auctor. Congue eu consequat ac felis donec et odio.
            </p>
            <button class="btn-contact">Contact Us →</button>
        </div>
    </div>
</section>


<!-- /============================================SECTION 3==========================================/ -->

<section class="cardebi animate-on-scroll">
  <div class="cards">
    <div class="text-card">
         <h3>our mission</h3>
         <p>Netus et malesuada fames ac turpis. Rhoncus urna neque viverra justo nec ultrices. Donec enim diam vulputate ut pharetra sit amet aliquam. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque. Bibendum enim facilisis gravida neque convallis a cras semper auctor. Congue eu consequat ac felis donec et odio. Cursus turpis massa tincidunt dui ut ornare lectus sit. Facilisi cras fermentum odio eu feugiat.</p>
    </div>
    <div class="text-card">
        <h3>our mission</h3>
         <p>Netus et malesuada fames ac turpis. Rhoncus urna neque viverra justo nec ultrices. Donec enim diam vulputate ut pharetra sit amet aliquam. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque. Bibendum enim facilisis gravida neque convallis a cras semper auctor. Congue eu consequat ac felis donec et odio. Cursus turpis massa tincidunt dui ut ornare lectus sit. Facilisi cras fermentum odio eu feugiat.</p> 
    </div>
  </div>
</section>

<!-- /================================================SECTION 4 =============================================/ -->

<section class="features animate-on-scroll">
  <div class="features__container">

    <div class="feature-item scale-up-center">
      <div class="feature-icon">
        <div class="feature-icon-inner">
          <img src="https://cdn.prod.website-files.com/6356157f39e4e52b89cf4553/63932b79a7272920b3c372e8_promo-icon-1.svg" alt="delivery">
        </div>
      </div>
      <div class="feature-content">
        <h3>Free Delivery</h3>
        <p>Lorem ipsum simply dummy text the printing type setting.</p>
      </div>
    </div>

    <div class="feature-item scale-up-center">
      <div class="feature-icon">
        <div class="feature-icon-inner">
          <img src="https://cdn.prod.website-files.com/6356157f39e4e52b89cf4553/63932b79059d35050e1f17c6_promo-icon-2.svg" alt="support">
        </div>
      </div>
      <div class="feature-content">
        <h3>24/07 Support</h3>
        <p>Lorem ipsum simply dummy text the printing type setting.</p>
      </div>
    </div>

    <div class="feature-item scale-up-center">
      <div class="feature-icon">
        <div class="feature-icon-inner">
          <img src="https://cdn.prod.website-files.com/6356157f39e4e52b89cf4553/63932b79b2d1c90f38586270_promo-icon-3.svg" alt="payment">
        </div>
      </div>
      <div class="feature-content">
        <h3>Secure Payment</h3>
        <p>Lorem ipsum simply dummy text the printing type setting.</p>
      </div>
    </div>

  </div>
</section>


<!-- /================================================SECTION 5 =============================================/ -->

<section class="personal-section animate-on-scroll">
  <div class="personalo-info">
    <div class="personal-hero">
      <p>team members</p>
       <h3>our expert chef</h3>
    </div>
    <div class="personals">
         <div class="card">
           <img src="https://cdn.prod.website-files.com/6356157f39e4e52b89cf4553/63f6fd9070034c688aa91fc7_chef-1.jpg" alt="">
           <h4>Armando Ryan</h4>
           <p>founder & ceo</p>
         </div>
         <div class="card">
           <img src="https://cdn.prod.website-files.com/6356157f39e4e52b89cf4553/63f6fd90c40da5fd9682e8ff_chef-2.jpg" alt="">
           <h4>Lucille Andrews</h4>
           <p>product manager</p>
         </div>
         <div class="card">
            <img src="https://cdn.prod.website-files.com/6356157f39e4e52b89cf4553/63f6fd8f969bccb5a0d3d25f_chef-3.jpg" alt="">
           <h4>Nichole Lloyd</h4>
           <p>director</p>
         </div>
         <div class="card">
           <img src="https://cdn.prod.website-files.com/6356157f39e4e52b89cf4553/63f6fd8f0c83402ba84bda83_chef-4.jpg" alt="">
           <h4>Duane Campbell</h4>
           <p>chef manager</p>
         </div>
    </div>
  </div>
</section>


<!-- /====================================================SECTION 6=====================================/ -->


<section class="testimonial-section animate-on-scroll">
  <div class="header-group">
    <div class="subtitle-pill">
      CUSTOMER TESTIMONIAL
    </div>
    <h1 class="main-title">What Client Say About Us?</h1>
  </div>

  <div class="carousel-container">
    
    <button class="nav-btn prev" (click)="prev()">&#10094;</button>
    
    <div class="viewport" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">
      
      <div class="testimonial-slide">
        <div class="content-box">
          
          <div class="avatar-wrapper">
            <img src="https://cdn.prod.website-files.com/6356157f39e4e52b89cf4553/63f641f6edfbfd9f84512f19_testimonial-img-1.png" alt="Client Avatar">
          </div>

          <h2 class="client-name">Modern Saters</h2>
          <p class="client-role">FOOD VLOGGER</p>

          <div class="quote-marks">
            <span class="left">“</span>
            <span class="right">”</span>
          </div>

          <p class="testimonial-text">
          Netus et malesuada fames ac turpis. Rhoncus urna neque viverra justo nec ultrices. Donec enim diam vulputate ut pharetra sit amet aliquam. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque. Bibendum enim facilisis gravida neque convallis a cras semper auctor.
          </p>

          <div class="star-rating">
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span class="star-empty">&#9733;</span>
          </div>
        </div>
      </div>

      <div class="testimonial-slide">
        <div class="content-box">
          <div class="avatar-wrapper">
            <img src="https://cdn.prod.website-files.com/6356157f39e4e52b89cf4553/63f6f7359a104aaf288a1213_testimonial-img-2.png" alt="Client Avatar 2">
          </div>
          <h2 class="client-name">Next Client</h2>
          <p class="client-role">DEVELOPER</p>
          <div class="quote-marks">
            <span class="left">“</span>
            <span class="right">”</span>
          </div>
          <p class="testimonial-text">
          Netus et malesuada fames ac turpis. Rhoncus urna neque viverra justo nec ultrices. Donec enim diam vulputate ut pharetra sit amet aliquam. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque. Bibendum enim facilisis gravida neque convallis a cras semper auctor.
          </p>
          <div class="star-rating">
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
          </div>
        </div>
      </div>
    </div>

    <button class="nav-btn next" (click)="next()">&#10095;</button>

  </div>
</section>