<section class="page-header">
  <div class="content">
    <h1>Blog Post</h1>
    <div class="breadcrumb">
      Home // Blog
    </div>
  </div>
</section>


<!-- ==========================SECTION 2=============================/ -->


<section class="new-article animate-on-scroll">
     <div class="article-info">
                <div class="article-hero">
                    <p>LATEST BLOG POST</p>
                    <h2>Latest News & Article</h2>
                </div>
                <div class="article-cards">
                    <div class="card">
                      <div class="card-image">
                         <img src="https://cdn.prod.website-files.com/63932e3ecea6fbf12060781b/63fd8b385fd4952739ee032b_blog-thumbnail-image-7.jpg" alt="">
                      </div>
                      <div class="card-text">
                        <p>February 28, 2023</p>
                        <h3>Exploring the World of Bakery Items</h3>
                        <button>Read More &rarr;</button>
                        </div>
                    </div>
                    <div class="card">
                      <div class="card-image">
                         <img src="https://cdn.prod.website-files.com/63932e3ecea6fbf12060781b/63fd8b194c9290e5d24e4b4c_blog-thumbnail-image-6.jpg" alt="">
                      </div>
                        <div class="card-text">
                        <p>February 28, 2023</p>
                        <h3>Exploring the World of Bakery Items</h3>
                        <button>Read More &rarr;</button>
                        </div>
                    </div>
                    <div class="card">
                      <div class="card-image">
                         <img src="https://cdn.prod.website-files.com/63932e3ecea6fbf12060781b/63fd8b09813f854291ed7171_blog-thumbnail-image-5.jpg" alt="">
                      </div>
                        <div class="card-text">
                        <p>February 28, 2023</p>
                        <h3>Exploring the World of Bakery Items</h3>
                        <button>Read More &rarr;</button>
                        </div>
                    </div>
                     <div class="card">
                      <div class="card-image">
                         <img src="https://cdn.prod.website-files.com/63932e3ecea6fbf12060781b/63fd8aed708d2b1745c6838c_blog-thumbnail-image-4.jpg" alt="">
                      </div>
                        <div class="card-text">
                        <p>February 28, 2023</p>
                        <h3>Exploring the World of Bakery Items</h3>
                        <button>Read More &rarr;</button>
                        </div>
                    </div>
                     <div class="card">
                      <div class="card-image">
                         <img src="https://cdn.prod.website-files.com/63932e3ecea6fbf12060781b/63fd8adc49243279b3c97c8d_blog-thumbnail-image-3.jpg" alt="">
                      </div>
                        <div class="card-text">
                        <p>February 28, 2023</p>
                        <h3>Exploring the World of Bakery Items</h3>
                        <button>Read More &rarr;</button>
                        </div>
                    </div>
                     <div class="card">
                      <div class="card-image">
                         <img src="https://cdn.prod.website-files.com/63932e3ecea6fbf12060781b/63fd8aca250f066f4206fa80_blog-thumbnail-image-2.jpg" alt="">
                      </div>
                        <div class="card-text">
                        <p>February 28, 2023</p>
                        <h3>Exploring the World of Bakery Items</h3>
                        <button>Read More &rarr;</button>
                        </div>
                    </div>
                </div>
     </div>
</section>
