<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"></head>
<footer class="footer-contact">
    <div class="footer-container">
        <div class="footer-item" data-aos="fade-up">
            <div class="icon-box"><i class="fas fa-phone-alt"></i></div>
            <div class="text-content">
                <h3>Call Us:</h3>
                <a href="tel:+8800569879845">+88 (00) 569 879 845</a>
                <a href="tel:+0988234847468">+09 (88) 234 847 468</a>
            </div>
        </div>

        <div class="footer-item" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box"><i class="fas fa-envelope"></i></div>
            <div class="text-content">
                <h3>Email Now:</h3>
                <a href="mailto:demo@yourmail.com">demo@yourmail.com</a>
                <a href="mailto:info@yourdomain.com">info@yourdomain.com</a>
            </div>
        </div>

        <div class="footer-item" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box"><i class="fas fa-map-marker-alt"></i></div>
            <div class="text-content">
                <h3>Our Location:</h3>
                <p>10529 Oakville Rd Gladstone,<br>Virginia(VA), 24553</p>
            </div>
        </div>
    </div>
</footer>